# 3 Classification Problem
## Example 3: Predict survival on the Titanic

In [20]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pandas import set_option


# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

## 3. Understand Data With Descriptive Statistics
### 3.1. Peek at Your Data
Looking at the raw data can reveal insights that you cannot get any other way. It can also plant seeds that may later grow into ideas on how to better pre-process and handle the data for machine learning tasks.

In [21]:
#Combining these datasets to run certain operations on both datasets together.
df = pd.read_csv('titanic.csv')
print(df.columns.values)

['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']

In [22]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [23]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [24]:
df = df.drop(columns=['PassengerId', 'Name', 'Ticket','Cabin'])
df = df.dropna()
df

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0           0       3    male  22.0      1      0    7.2500        S
1           1       1  female  38.0      1      0   71.2833        C
2           1       3  female  26.0      0      0    7.9250        S
3           1       1  female  35.0      1      0   53.1000        S
4           0       3    male  35.0      0      0    8.0500        S
6           0       1    male  54.0      0      0   51.8625        S
7           0       3    male   2.0      3      1   21.0750        S
8           1       3  female  27.0      0      2   11.1333        S
9           1       2  female  14.0      1      0   30.0708        C
10          1       3  female   4.0      1      1   16.7000        S
11          1       1  female  58.0      0      0   26.5500        S
12          0       3    male  20.0      0      0    8.0500        S
13          0       3    male  39.0      1      5   31.2750        S
14          0       3  female  14.0      0      0    7.8542        S
15          1       2  female  55.0      0      0   16.0000        S
16          0       3    male   2.0      4      1   29.1250        Q
18          0       3  female  31.0      1      0   18.0000        S
20          0       2    male  35.0      0      0   26.0000        S
21          1       2    male  34.0      0      0   13.0000        S
22          1       3  female  15.0      0      0    8.0292        Q
23          1       1    male  28.0      0      0   35.5000        S
24          0       3  female   8.0      3      1   21.0750        S
25          1       3  female  38.0      1      5   31.3875        S
27          0       1    male  19.0      3      2  263.0000        S
30          0       1    male  40.0      0      0   27.7208        C
33          0       2    male  66.0      0      0   10.5000        S
34          0       1    male  28.0      1      0   82.1708        C
35          0       1    male  42.0      1      0   52.0000        S
37          0       3    male  21.0      0      0    8.0500        S
38          0       3  female  18.0      2      0   18.0000        S
..        ...     ...     ...   ...    ...    ...       ...      ...
856         1       1  female  45.0      1      1  164.8667        S
857         1       1    male  51.0      0      0   26.5500        S
858         1       3  female  24.0      0      3   19.2583        C
860         0       3    male  41.0      2      0   14.1083        S
861         0       2    male  21.0      1      0   11.5000        S
862         1       1  female  48.0      0      0   25.9292        S
864         0       2    male  24.0      0      0   13.0000        S
865         1       2  female  42.0      0      0   13.0000        S
866         1       2  female  27.0      1      0   13.8583        C
867         0       1    male  31.0      0      0   50.4958        S
869         1       3    male   4.0      1      1   11.1333        S
870         0       3    male  26.0      0      0    7.8958        S
871         1       1  female  47.0      1      1   52.5542        S
872         0       1    male  33.0      0      0    5.0000        S
873         0       3    male  47.0      0      0    9.0000        S
874         1       2  female  28.0      1      0   24.0000        C
875         1       3  female  15.0      0      0    7.2250        C
876         0       3    male  20.0      0      0    9.8458        S
877         0       3    male  19.0      0      0    7.8958        S
879         1       1  female  56.0      0      1   83.1583        C
880         1       2  female  25.0      0      1   26.0000        S
881         0       3    male  33.0      0      0    7.8958        S
882         0       3  female  22.0      0      0   10.5167        S
883         0       2    male  28.0      0      0   10.5000        S
884         0       3    male  25.0      0      0    7.0500        S
885         0       3  female  39.0      0      5   29.1250        Q
886         0       2    male  27.0      0      0   13.0000        S
887         1       1  female  19.0      0      0   30.0000        S
889         1       1    male  26.0      0      0   30.0000        C
890         0       3    male  32.0      0      0    7.7500        Q

[712 rows x 8 columns]

In [25]:
#train_df['Sex'].replace([0,1],['female','male'],inplace=True)
df['Sex'] = df['Sex'].map( {'female': 1, 'male': 0} ).astype(int)
df

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare Embarked
0           0       3    0  22.0      1      0    7.2500        S
1           1       1    1  38.0      1      0   71.2833        C
2           1       3    1  26.0      0      0    7.9250        S
3           1       1    1  35.0      1      0   53.1000        S
4           0       3    0  35.0      0      0    8.0500        S
6           0       1    0  54.0      0      0   51.8625        S
7           0       3    0   2.0      3      1   21.0750        S
8           1       3    1  27.0      0      2   11.1333        S
9           1       2    1  14.0      1      0   30.0708        C
10          1       3    1   4.0      1      1   16.7000        S
11          1       1    1  58.0      0      0   26.5500        S
12          0       3    0  20.0      0      0    8.0500        S
13          0       3    0  39.0      1      5   31.2750        S
14          0       3    1  14.0      0      0    7.8542        S
15          1       2    1  55.0      0      0   16.0000        S
16          0       3    0   2.0      4      1   29.1250        Q
18          0       3    1  31.0      1      0   18.0000        S
20          0       2    0  35.0      0      0   26.0000        S
21          1       2    0  34.0      0      0   13.0000        S
22          1       3    1  15.0      0      0    8.0292        Q
23          1       1    0  28.0      0      0   35.5000        S
24          0       3    1   8.0      3      1   21.0750        S
25          1       3    1  38.0      1      5   31.3875        S
27          0       1    0  19.0      3      2  263.0000        S
30          0       1    0  40.0      0      0   27.7208        C
33          0       2    0  66.0      0      0   10.5000        S
34          0       1    0  28.0      1      0   82.1708        C
35          0       1    0  42.0      1      0   52.0000        S
37          0       3    0  21.0      0      0    8.0500        S
38          0       3    1  18.0      2      0   18.0000        S
..        ...     ...  ...   ...    ...    ...       ...      ...
856         1       1    1  45.0      1      1  164.8667        S
857         1       1    0  51.0      0      0   26.5500        S
858         1       3    1  24.0      0      3   19.2583        C
860         0       3    0  41.0      2      0   14.1083        S
861         0       2    0  21.0      1      0   11.5000        S
862         1       1    1  48.0      0      0   25.9292        S
864         0       2    0  24.0      0      0   13.0000        S
865         1       2    1  42.0      0      0   13.0000        S
866         1       2    1  27.0      1      0   13.8583        C
867         0       1    0  31.0      0      0   50.4958        S
869         1       3    0   4.0      1      1   11.1333        S
870         0       3    0  26.0      0      0    7.8958        S
871         1       1    1  47.0      1      1   52.5542        S
872         0       1    0  33.0      0      0    5.0000        S
873         0       3    0  47.0      0      0    9.0000        S
874         1       2    1  28.0      1      0   24.0000        C
875         1       3    1  15.0      0      0    7.2250        C
876         0       3    0  20.0      0      0    9.8458        S
877         0       3    0  19.0      0      0    7.8958        S
879         1       1    1  56.0      0      1   83.1583        C
880         1       2    1  25.0      0      1   26.0000        S
881         0       3    0  33.0      0      0    7.8958        S
882         0       3    1  22.0      0      0   10.5167        S
883         0       2    0  28.0      0      0   10.5000        S
884         0       3    0  25.0      0      0    7.0500        S
885         0       3    1  39.0      0      5   29.1250        Q
886         0       2    0  27.0      0      0   13.0000        S
887         1       1    1  19.0      0      0   30.0000        S
889         1       1    0  26.0      0      0   30.0000        C
890         0       3    0  32.0      0      0    7.7500        Q

[712 rows x 8 columns]

In [26]:
### Converting categorical feature to numeric
#Now converting the EmbarkedFill feature by creating a new numeric Port feature.
df['Embarked'] = df['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)
df

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0           0       3    0  22.0      1      0    7.2500         0
1           1       1    1  38.0      1      0   71.2833         1
2           1       3    1  26.0      0      0    7.9250         0
3           1       1    1  35.0      1      0   53.1000         0
4           0       3    0  35.0      0      0    8.0500         0
6           0       1    0  54.0      0      0   51.8625         0
7           0       3    0   2.0      3      1   21.0750         0
8           1       3    1  27.0      0      2   11.1333         0
9           1       2    1  14.0      1      0   30.0708         1
10          1       3    1   4.0      1      1   16.7000         0
11          1       1    1  58.0      0      0   26.5500         0
12          0       3    0  20.0      0      0    8.0500         0
13          0       3    0  39.0      1      5   31.2750         0
14          0       3    1  14.0      0      0    7.8542         0
15          1       2    1  55.0      0      0   16.0000         0
16          0       3    0   2.0      4      1   29.1250         2
18          0       3    1  31.0      1      0   18.0000         0
20          0       2    0  35.0      0      0   26.0000         0
21          1       2    0  34.0      0      0   13.0000         0
22          1       3    1  15.0      0      0    8.0292         2
23          1       1    0  28.0      0      0   35.5000         0
24          0       3    1   8.0      3      1   21.0750         0
25          1       3    1  38.0      1      5   31.3875         0
27          0       1    0  19.0      3      2  263.0000         0
30          0       1    0  40.0      0      0   27.7208         1
33          0       2    0  66.0      0      0   10.5000         0
34          0       1    0  28.0      1      0   82.1708         1
35          0       1    0  42.0      1      0   52.0000         0
37          0       3    0  21.0      0      0    8.0500         0
38          0       3    1  18.0      2      0   18.0000         0
..        ...     ...  ...   ...    ...    ...       ...       ...
856         1       1    1  45.0      1      1  164.8667         0
857         1       1    0  51.0      0      0   26.5500         0
858         1       3    1  24.0      0      3   19.2583         1
860         0       3    0  41.0      2      0   14.1083         0
861         0       2    0  21.0      1      0   11.5000         0
862         1       1    1  48.0      0      0   25.9292         0
864         0       2    0  24.0      0      0   13.0000         0
865         1       2    1  42.0      0      0   13.0000         0
866         1       2    1  27.0      1      0   13.8583         1
867         0       1    0  31.0      0      0   50.4958         0
869         1       3    0   4.0      1      1   11.1333         0
870         0       3    0  26.0      0      0    7.8958         0
871         1       1    1  47.0      1      1   52.5542         0
872         0       1    0  33.0      0      0    5.0000         0
873         0       3    0  47.0      0      0    9.0000         0
874         1       2    1  28.0      1      0   24.0000         1
875         1       3    1  15.0      0      0    7.2250         1
876         0       3    0  20.0      0      0    9.8458         0
877         0       3    0  19.0      0      0    7.8958         0
879         1       1    1  56.0      0      1   83.1583         1
880         1       2    1  25.0      0      1   26.0000         0
881         0       3    0  33.0      0      0    7.8958         0
882         0       3    1  22.0      0      0   10.5167         0
883         0       2    0  28.0      0      0   10.5000         0
884         0       3    0  25.0      0      0    7.0500         0
885         0       3    1  39.0      0      5   29.1250         2
886         0       2    0  27.0      0      0   13.0000         0
887         1       1    1  19.0      0      0   30.0000         0
889         1       1    0  26.0      0      0   30.0000         1
890         0       3    0  32.0      0      0    7.7500         2

[712 rows x 8 columns]

In [28]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
X = df.drop("Survived", axis=1)
Y = df["Survived"]
seed = 7
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3,random_state=seed)


model = LogisticRegression(solver='liblinear') 
#model = LinearDiscriminantAnalysis()
#model = KNeighborsClassifier()
#model = GaussianNB()
#model = DecisionTreeClassifier()
#model = SVC()
#model = RandomForestClassifier(n_estimators=100, max_features=3)
model.fit(X_train, Y_train)
result = model.score(X_test, Y_test) 
print("Accuracy: %.3f%%" % (result*100.0))

predicted = model.predict(X_test)
matrix = confusion_matrix(Y_test, predicted)
print(matrix)

predicted = model.predict(X_test)
report = classification_report(Y_test, predicted)
print(report)

Accuracy: 80.374%
[[116  13]
 [ 29  56]]
              precision    recall  f1-score   support

           0       0.80      0.90      0.85       129
           1       0.81      0.66      0.73        85

   micro avg       0.80      0.80      0.80       214
   macro avg       0.81      0.78      0.79       214
weighted avg       0.80      0.80      0.80       214